<footer class="bg-dark-bg text-light-text py-12 mt-16 border-t border-gray-700">
  <div class="container mx-auto px-4 text-center">
    <p class="font-mono text-sm" [innerHTML]="'FOOTER.COPYRIGHT' | translate:{year: currentYear}"></p>
    <div class="mt-4">
      <a [href]="'mailto:' + email" class="text-gray-400 hover:text-primary transition-colors mx-2" [attr.aria-label]="'FOOTER.SEND_EMAIL_ARIA' | translate">
        <i class="pi pi-envelope text-xl"></i>
      </a>
      </div>
  </div>
</footer>